<%- include("partials/header.ejs", { username: username, keyword: keyword }) %>

    <div class="container page-header">
        <h3>Here's what we found for '<%=keyword%>'</h3>
    </div>
    
    <div class="container text-center" id="resultsContainer">
        
        <% imageUrls.forEach(function(imageUrl, i) { %>
            <div class="row px-2 pt-2 pb-2 text-dark">
              <div class="col-3 align-self-center">
                <img class="image" src="<%= imageUrl %>" width="200" height="200" />
              </div>
              <div class="col-6 align-self-start text-left">
                <h4 id="item-descriptions"><%= prodDescriptions[i] %> <%=keyword%></h4>  <br />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
              <div class="col-2 align-self-end">
                <div class="row px-2 text-right">
                  <h4>$<%=(Math.floor(Math.random() * (10 * 100 - 1 * 100) + 1 * 100) / (1 * 100)).toFixed(2)%></h4>
                </div>
                <div class="row align-self-end px-2">
                  <button class="btn btn-outline-dark btn-cart-item-action pb-2">Add to Cart</button>
                </div>
              </div>        
            <hr>
            </div>
        <% }) %>
      
          <br />
      
    </div>

<% include partials/footer.ejs %>
